* {
    font-family: Consolas, monaco, monospace;
}

#page-container {
    position: relative;
    min-height: 94vh;
}

#content-wrap{
    padding-bottom: 2.5rem;
}

footer {
    background-color: rgba(105, 105, 105, 0.5);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

h2 {
    background-color: #000000;
    color: #FFFFFF;
}

h3 {
    background-color: #7500CF;
    color: #FFFFFF;
}

ul {
    background-color: #AE43FF;
}

ul li {
    background-color: #DEB3FF;
}

nav a {
    color: rgba(49, 18, 134, 1);
}

nav a:link {
    text-decoration: none;
}

nav a:hover {
    text-decoration: none;
    color: rgba(49, 18, 134, 0.5);
}

nav a:visited {
    text-decoration: none;
}

nav a:active {
    text-decoration: none;
}