* {
    box-sizing: border-box;
    font-family: Consolas, monaco, monospace;
    padding: 0;
    margin: 0;
}

#page-container {
    position: relative;
    min-height: 94vh;
}

#content-wrap{
    padding-bottom: 2.5rem;
}

h2 {
    background-color: #000000;
    color: #FFFFFF;
}

h3 {
    background-color: #7500CF;
    color: #FFFFFF;
}

ul {
    background-color: #AE43FF;
}

ul li {
    background-color: #DEB3FF;
}

.navbar {
    overflow: hidden;
    background-color: #3E3E3E;
    width: 100%;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.subnav {
    float: left;
    overflow: hidden;
}

.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
    background-color: #646464;
}

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #646464;
    width: 100%;
    z-index: 1;
}

.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
}

.subnav-content a:hover {
    background-color: #929292;
    color: black;
}

.subnav:hover .subnav-content {
    display: block;
}

.project_name {
    margin: 30px 0px;
}

.footer_container {
    height: 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: #3E3E3E;
}
.footer_container a {
    display: inline-flex;
    color: white;
    padding: 10px;
}

.footer_container a:link {
    text-decoration: none;
}

.footer_container a:hover {
    text-decoration: none;
    background-color: #646464;
}

.footer_container a:active {
    text-decoration: none;
}

.footer_container a:visited {
    text-decoration: none;
}